<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero flex-row justify-space-between">
      <h1 class="app-title">
        Tech Blog
      </h1>
      <nav class="flex-row justify-space-between nav">
        {{#if loggedIn}}
        <a href="/" class="card-header">Homepage</a>
            <a href="/dashboard" class="card-header">Dashboard</a>
            <button id="logout" class="card-header">Logout</button>
        {{else}}
            <a href="/login" class="card-header">Login</a>
            <a href="/" class="card-header">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="hero card-header">
    {{#if loggedIn}}
      Thanks for visiting!
    {{else}}
        Login or create an account to interact with posts
    {{/if}}
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>