{{> postInfo post}}

{{#if loggedIn}}
<div class="card">
  <h2 class="card-header">Leave a comment here:</h2>
  <form class="card-body" id="comment-form">
  <div>
    <textarea name="comment-body" class="form-input"></textarea>
  </div>

  <div>
    <button type="submit" class="btn">Add comment</button>
    <button type="button" class="btn" id="upvote-btn">Upvote</button>
  </div>
</form>
</div>
{{/if}}

{{content}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}